$color: #42b983;
$color-primary: #409eff;

$text: #2c3e50;

// Mobile size
$smallScreen: 767.98px;

// Mobile style
@mixin screen-mob {
  @media screen and (max-width: $smallScreen) {
    @content;
  }
}

// PC version style
@mixin screen-pc {
  @media screen and (min-width: $smallScreen) {
    @content;
  }
}
